	<div class="bottom">&nbsp;</div>
	<div class="copyright">&copy; <a href="#">Henry Irish</a> :: <a href="http://www.google.com/chrome">Not Compatible with IE &lt; 9. At all</a> :: <a href="#">Settings</a> :: <a href="#">Contact</a> :: <a href="#">Donate</a> :: <a href="logout">Logout</a></div>
	<script type="text/javascript" language="javascript">
		function addToAllClearableInputs(){
		  inputs = document.getElementsByTagName("input");
		  for (i = 0; i < inputs.length; i++){
			if (inputs[i].type == "text" || inputs[i].type == "password"){
			  inputs[i].origValue = inputs[i].value;
			  inputs[i].onfocus = function(){this.value = "";};
			  inputs[i].onblur  = function(){
				if (this.value == ""){
				  this.value = this.origValue;
				}
			  }
			}
		  }
		}
		addToAllClearableInputs();
	</script>
</body>

</html>
