<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
	<title>Dinner Designr</title>

	<link rel="stylesheet" href="static/css/milkbox/milkbox.css" media="screen" />
	<link rel="stylesheet" href="static/css/dinner.css"			media="screen" />
	
	<script src="static/js/moo-1.4.5.js"			type="text/javascript"></script>
	<script src="static/js/mooextra-1.4.0.1.js"	type="text/javascript"></script>
	<script src="static/js/milkbox.js"			type="text/javascript"></script>
	<script src="static/js/custom-form-elements.js"			type="text/javascript"></script>


</head>

<body id="main">
	
	<div class="title">
		Dinner Designr
	</div>
